<div class="alert alert-{level_class} alert-dismissible show fade shadow" role="alert">
	{message}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
