{% load slipcrate %}
<nav aria-label="pagination">
	<ul class="pagination justify-content-center">
	{% if page.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?{% qs_update request page=page.previous_page_number %}">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
	{% else %}
		<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
	{% endif %}

		<li class="page-item disabled">
			<span class="page-link">
				Page {{ page.number }} of {{ page.paginator.num_pages }}
			</span>
		</li>

	{% if page.has_next %}
		<li class="page-item">
			<a class="page-link" href="?{% qs_update request page=page.next_page_number %}">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	{% else %}
		<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	{% endif %}
	</ul>
</nav>
