{% load i18n %}
{% load slipcrate %}
<a href="?{{ querystring }}#package-list" class="d-block text-decoration-none">
	{% if sorted %}
		<span class="float-right">{% icon sort_icon %}</span>
	{% endif %}
	<span class="mr-3">{% trans text %}</span>
</a>
