{% extends "base.html" %}
{% load i18n %}
{% load slipcrate %}

{% block head_title %}{% endblock %}

{% block page_css %}
main {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.floating-content {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.floating-content .checkbox {
	font-weight: 400;
}

.floating-content .form-floating:focus-within {
	z-index: 2;
}

.floating-content .input-top {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.floating-content .input-bottom {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
{% endblock %}

{% block content %}
	<main>
		<div class="floating-content">
			{% block floating_content %}{% endblock %}
		</div>
	</main>
{% endblock %}
