{% extends "base.html" %}
{% load i18n %}
{% load slipcrate %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block floating_content %}
	<!-- templates/account/login.html -->
	<form action="{% url 'account_login' %}" method="post" class="text-center">
		{% csrf_token %}

		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}

		{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				<ul class="list-unstyled">
					{% for e in form.non_field_errors %}
						<li>{{ e }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 fw-normal">{% blocktrans %}Please sign in{% endblocktrans %}</h1>

		<div class="form-floating">
			{% with f=form.login %}
				<input
					type="text"
					class="form-control {% if f.errors %}is-invalid{% endif %} input-top"
					id="{{ f.id_for_label }}"
					name="{{ f.html_name }}"
					value="{{ f.value | default_if_none:'' }}"
					{% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}>
				<label for="{{ f.id_for_label }}">{{ f.label }}</label>
			{% endwith %}
		</div>
		<div class="form-floating">
			{% with f=form.password %}
				<input
					type="password"
					class="form-control {% if f.errors %}is-invalid{% endif %} input-bottom"
					id="{{ f.id_for_label }}"
					name="{{ f.html_name }}"
					value="{{ f.value | default_if_none:'' }}"
					{% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}>
				<label for="{{ f.id_for_label }}">{{ f.label }}</label>
			{% endwith %}
		</div>
		<div class="checkbox mb-3">
			{% with f=form.remember %}
				<label>
					<input
						type="checkbox"
						id="{{ f.id_for_label }}"
						class="{% if f.errors %}is-invalid{% endif %}"
						name="{{ f.html_name }}"
						value="{{ f.value | default_if_none:'' }}"
						{% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}>
					{{ f.label }}
				</label>
			{% endwith %}
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">{% trans 'Sign In' %}</button>

		<p class="mt-3">
			{% blocktranslate %}Don't have an account?{% endblocktranslate %} <a href="{{ signup_url }}">Register</a>
		</p>
	</form>
{% endblock %}
