{% extends "base.html" %}
{% load i18n %}
{% load slipcrate %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block page_css %}
main {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
{% endblock %}

{% block content %}
	<!-- templates/account/logout.html -->
	<main class="text-center">
		<div class="form-signin">
			<h1 class="h3 mb-3 fw-normal">{% trans "Sign Out" %}</h1>

			<p>{% trans 'Are you sure you want to sign out?' %}</p>

			<form method="post" action="{% url 'account_logout' %}">
				{% csrf_token %}

				{% if redirect_field_value %}
					<input
						type="hidden"
						name="{{ redirect_field_name }}"
						value="{{ redirect_field_value }}">
				{% endif %}

				<button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">{% trans 'Sign Out' %}</button>
			</form>
		</div>
	</main>
{% endblock %}
