{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block floating_content %}
	<h1 class="text-center">{% trans "Sign Up" %}</h1>

	<p>
		{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
	</p>

	<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
		{% csrf_token %}



		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		{% endif %}



		{% for hidden_field in form.hidden_fields %}
			{{ hidden_field }}

			{% for error in hidden_field %}
				<div class="alert alert-danger" role="alert">
					<p>(Hidden field {{ hidden_field.name }}) {{ error }}</p>
				</div>
			{% endfor %}
		{% endfor %}

		<div class="row my-3">
			<div class="col">
				{% include "includes/input_email.html" with f=form.email only %}
			</div>
		</div>

		<div class="row my-3">
			<div class="col">
				{% include "includes/input_text.html" with f=form.username only %}
			</div>
		</div>

		<div class="row my-3">
			<div class="col">
				{% include "includes/input_password.html" with f=form.password1 only %}
			</div>
		</div>

		<div class="row my-3">
			<div class="col">
				{% include "includes/input_password.html" with f=form.password2 only %}
			</div>
		</div>

		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}

		<button class="w-100 btn btn-lg btn-primary mt-3" type="submit" name="submit">{% trans 'Sign Up' %}</button>
	</form>
{% endblock %}
