{% load i18n %}
{% load static %}
{% load slipcrate %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="{% static "img/icon.png" %}"  type="image/png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block head_title %}{% block title %}Home{% endblock %}{% endblock %} &mdash; Slipcrate</title>
		<link rel="stylesheet" href="{% static 'css/darkly.min.css' %}">
		{# <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> #}
		{# <link rel="stylesheet" href="{% static 'css/mdb.dark.min.css' %}"> #}

		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		{% block head %}{% endblock %}
		<style type="text/css">
			html {
				height: 100%;
			}
			.icon {
				width: 1rem;
				stroke: currentColor;
				fill: currentColor;
				display: inline-block;
			}

			.form-control-dark {
				color: #fff;
				background-color: var(--bs-dark);
				border-color: var(--bs-gray);
			}
			.form-control-dark:focus {
				color: #fff;
				background-color: var(--bs-dark);
				border-color: #fff;
				box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
			}

			.bi {
				vertical-align: -.125em;
				fill: currentColor;
			}

			.dropdown-toggle {
				outline: 0;
			}

			legend {
				border-bottom: 1px solid black;
			}

			#page-alert-container {
				position: fixed;
				top: 1em;
				left: 1em;
				right: 1em;
			}
			.rating-5 svg.icon {
				fill: #00ff00;
				text-shadow: 0 0 20px #952;
			}
			.rating-4 svg.icon {
				fill: #a0d600;
				text-shadow: 0 0 20px #952;
			}
			.rating-3 svg.icon {
				fill: #d7a700;
				text-shadow: 0 0 20px #952;
			}
			.rating-2 svg.icon {
				fill: #f66d00;
				text-shadow: 0 0 20px #952;
			}
			.rating-1 svg.icon {
				fill: #ff0000;
				text-shadow: 0 0 20px #952;
			}

			.floating-content {
				width: 100%;
				max-width: 330px;
				padding: 15px;
				margin: auto;
			}
			.floating-content .checkbox {
				font-weight: 400;
			}
			.floating-content .form-floating:focus-within {
				z-index: 2;
			}
			.floating-content .input-top {
				margin-bottom: -1px;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
			.floating-content .input-bottom {
				margin-bottom: 10px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
			{% block page_css %}{% endblock %}
		</style>
		{% block css %}{% endblock %}
	</head>
	<body>
		<header class="mb-3">
			<div class="px-3 py-2 bg-dark text-white">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start">
					<a href="/" class="d-flex align-items-center my-2 my-lg-0 me-sm-auto text-white text-decoration-none">
						<img src="{% static 'img/icon.svg' %}" width="48" height="48" style="background-color: white; border: 2px solid white; border-radius: 6px">
					</a>

					<ul class="nav col-12 col-sm-auto my-2 justify-content-center my-md-0 text-small text-white">
						<li>
							<a href="/" class="px-2 px-md-3 nav-link text-white">
								<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% static 'img/icons.svg' %}#home"/></svg>
								{% trans 'Home' %}
							</a>
						</li>
						<li>
							<a href="{% url 'packages:list' %}" class="px-2 px-md-3 nav-link text-white">
								<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% static 'img/icons.svg' %}#grid"/></svg>
								{% trans 'Packages' %}
							</a>
						</li>
						{% if user.is_authenticated %}
							<li>
								<a href="{% url 'packages:new' %}" class="px-2 px-md-3 nav-link text-white">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% static 'img/icons.svg' %}#upload"/></svg>
									{% trans 'Upload' %}
								</a>
							</li>
							<li>
								<a href="{% url 'account_logout' %}?next={{ request.get_full_path }}" class="px-2 px-md-3 nav-link text-white">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% static 'img/icons.svg' %}#people-circle"/></svg>
									{% trans 'Logout' %}
								</a>
							</li>
						{% else %}
							<li>
								<a href="{% url 'account_login' %}?next={{ request.get_full_path }}" class="px-2 px-md-3 nav-link text-white">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% static 'img/icons.svg' %}#people-circle"/></svg>
									{% trans 'Login' %}
								</a>
							</li>
						{% endif %}
						<li>
							<a href="/help/" class="px-2 px-md-3 nav-link text-white">
								<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% static 'img/icons.svg' %}#question-circle"/></svg>
								{% trans 'Help' %}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		{% block content %}
			<div class="floating-content">
				{% block floating_content %}{% endblock %}
			</div>
		{% endblock %}

		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		{# <script src="{% static 'js/mdb.min.js' %}"></script> #}

		<div id="page-alert-container">
			{% if messages %}
				{% for message in messages %}
					{% alert_message message %}
				{% endfor %}
			{% endif %}
		</div>

		<script>
			function createAlert(alertType, alertContent) {
				let alertElement = document.createElement('div');
				alertElement.setAttribute(
					'class',
					`alert alert-${alertType} alert-dismissible show fade shadow`
				);
				alertElement.setAttribute(
					'role',
					'alert'
				);
				alertElement.innerHTML = `${alertContent}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`

				document.getElementById('page-alert-container').appendChild(
					alertElement
				);

				window.setTimeout(function() {
					const bsAlert = new bootstrap.Alert(alertElement);
					bsAlert.close()
				}, 5000);
			}
		</script>

		{% block javascript %}{% endblock %}
	</body>
</html>
