{% extends "base.html" %}
{% load i18n %}



{% block content %}
	<main class="container">
		<h1>Help</h1>

		<h2>Packages</h2>

		<p>Creating a package, explain fields</p>
		<p>What are releases</p>

		<h3>Mods</h3>

		<p>define mods, what files they include, etc</p>
		<p>Mods should be contained within a ZIP file.</p>

		<h3>Maps</h3>

		<p>Define what is in a map file, should be a PAK</p>
		<p>Directory structure of the PAK file, including levelshots, textures, etc</p>
		<p>
			An in-game JPEG screenshot of the map should be placed into the <code>levelshots</code> directory of the PAK. This is used by some Quake clients to show a preview of the map when loading.
			<pre><code>map-slipcrate-1.0.pak
├── levelshots
│   └── slipcrate.jpg
├── maps
│   └── slipcrate.bsp
└── slipcrate.txt</code></pre>
		</p>

	</main>
{% endblock %}
