{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load slipcrate %}
{% load imagekit %}

{% block title %}Home{% endblock %}

{% block content %}
	<main>
		<div class="container-fluid">
			<div class="row">
				<h2>Featured Releases</h2>

				<div
					id="featured_pkgs"
					class="carousel slide mb-3"
					data-bs-ride="carousel"
				>
					<div class="carousel-indicators">
						{% for rel in featured_releases %}
						    <button
						    	type="button"
						    	data-bs-target="#featured_pkgs"
						    	data-bs-slide-to="{{ forloop.counter0 }}"
						    	aria-current="true"
						    	{% if forloop.first %}class="active"{% endif %}
						    ></button>
						{% endfor %}
					</div>

					<div class="carousel-inner ratio ratio-16x9">
						{% for rel in featured_releases %}
							{% with pkg=rel.package %}
								<div class="carousel-item{% if forloop.first %} active{% endif %}">
									<a href="{{ pkg.get_absolute_url }}">
										<img
											class="d-block w-100"
											{% if pkg.cover_image %}
												src="{{ pkg.cover_image.url }}"
											{% else %}
												src="{% static 'img/placeholders/1280x720.svg' %}"
											{% endif %}
											loading="lazy"
										>
									</a>

									<div class="carousel-caption d-none d-md-block rounded pe-none" style="background-color: rgba(0,0,0,0.5)">
										<h5>
											{{ pkg.name }}
										</h5>
										<p>
											{{ pkg.description | truncatechars:128 }}
										</p>
									</div>
								</div>
							{% endwith %}
						{% endfor %}
					</div>

					<button
						type="button"
						class="carousel-control-prev"
						data-bs-target="#featured_pkgs"
						data-bs-slide="prev"
					>
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">{% trans 'Previous' %}</span>
					</button>
					<button
						type="button"
						class="carousel-control-next"
						data-bs-target="#featured_pkgs"
						data-bs-slide="next"
					>
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">{% trans 'Next' %}</span>
					</button>
				</div>
			</div>



			<div class="row">
				<div class="col">
					<h2>Latest Releases</h2>

					<div class="card-group mb-3">
						{% for rel in latest_releases %}
							{% with pkg=rel.package %}
								<div class="card m-1">
									<a href="{% url 'packages:detail' pkg.slug %}" class="bg-secondary ratio ratio-16x9">
										<img class="card-img-top overflow-hidden"
										{% if pkg.cover_image %}
											{% thumbnail "384x216" pkg.cover_image as thumbnail %}
											src="{{ thumbnail.url }}">
										{% else %}
											src="{% static 'img/placeholders/384x216.svg' %}">
										{% endif %}
									</a>
								</div>
							{% endwith %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
