{% extends "base.html" %}



{% load comments %}
{% load i18n %}
{% load imagekit %}
{% load slipcrate %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
{% if package %}
{% blocktranslate %}Editing "{{ package }}"{% endblocktranslate %}
{% else %}
{% trans "New Package" %}
{% endif %}
{% endblock %}

{% block content %}
	<main class="container">
		<div class="d-flex justify-content-center align-items-center">
			{% if package %}
				<a
					class="btn btn-warning align-middle align-left"
					title="View this package"
					href="{% url "packages:detail" package.slug %}">{% icon 'box-arrow-left' %}</a>
			{% endif %}

			<h1 class="title is-1 text-center flex-grow-1">
				{% if package %}
					{% blocktranslate %}Editing "{{ package }}"{% endblocktranslate %}
				{% else %}
					{% trans "New Package" %}
				{% endif %}
			</h1>
		</div>



		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}



			{% if package_form.non_field_errors %}
				{% for error in package_form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endfor %}
			{% endif %}



			{% for hidden_field in package_form.hidden_fields %}
				{{ hidden_field }}

				{% for error in hidden_field %}
					<div class="alert alert-danger" role="alert">
						<p>(Hidden field {{ hidden_field.name }}) {{ error }}</p>
					</div>
				{% endfor %}
			{% endfor %}



			<fieldset>
				<legend>
					{% trans "Details" %}
				</legend>

				<div class="row">
					<div class="col">
						{% include "includes/input_text.html" with f=package_form.name only %}
					</div>
					<div class="col-3">
						{% include "includes/input_text.html" with f=package_form.slug only %}
					</div>
				</div>

				<div class="row my-3">
					<div class="col">
						{% include "includes/input_textarea.html" with f=package_form.description only %}
					</div>
				</div>

				<div class="row my-3">
					<div class="col">
						{% include "includes/input_tags.html" with f=package_form.authors only %}
					</div>
				</div>

				<div class="row my-3">
					<div class="col">
						{% include "includes/input_tags.html" with f=package_form.tags only %}
					</div>
				</div>
			</fieldset>



			<fieldset class="mt-3">
				<legend>
					{% trans "Releases" %}
				</legend>

				{# {{ release_formset }} #}

				{% for error in release_formset.non_form_errors %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endfor %}

				{% for error in release_formset.management_form.non_form_errors %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endfor %}

				<div class="container">
					<div class="row" style="background-color: #303030">
						<div class="col-8">{{ release_formset.0.file.label }}</div>
						<div class="col-3">{{ release_formset.0.created_at.label }}</div>
						<div class="col-1 text-center">{{ release_formset.0.DELETE.label }}</div>
					</div>

					{% for form in release_formset %}
						{% if form.non_field_errors %}
							{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}

						<div class="row py-2">
							<div class="col-8">
								{% with f=form.file %}
									{% if f.initial %}
										<div class="form-group">
											{{ f.initial | basename }}
										</div>
									{% endif %}

									{% if not f.field.disabled %}
										<div class="form-group">
											<input
												type="file"
												id="{{ f.id_for_label }}"
												name="{{ f.html_name }}"
												class="form-control {% if f.errors %}is-invalid{% endif %}"
												{% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}
											>
											<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small><br>
											{% if f.value %}
												{{ f.value }}<br>
											{% endif %}
											{% include 'includes/field_errors.html' %}
										</div>
									{% endif %}
								{% endwith %}
							</div>

							<div class="col-3">
								{% with f=form.created_at %}
									<div class="form-group">
										{{ f|attr:"type:date"|attr:"class:form-control"|add_error_class:"is-invalid" }}
										<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
										{% include 'includes/field_errors.html' %}
									</div>
								{% endwith %}
							</div>

							<div class="col-1 text-center">
								{% if form.file.value and release_formset.can_delete %}
									{% with f=form.DELETE %}
										<div class="form-group">
											{{ f|attr:"type:checkbox"|attr:"class:form-check-input" }}
										</div>
									{% endwith %}
								{% endif %}
							</div>
						</div>

						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
					{% endfor %}
				</div>

				{{ release_formset.management_form }}
			</fieldset>



			<fieldset class="mt-3">
				<legend>
					{% trans "URLs" %}
				</legend>

				{# {{ url_formset }} #}

				<div class="container">
					<div class="row" style="background-color: #303030">
						<div class="col-4">{% translate "Label" %}</div>
						<div class="col-7">{% translate "URL" %}</div>
						<div class="col-1 text-center">{% translate "Delete" %}</div>
					</div>

					{% for form in url_formset %}
						{% if form.non_field_errors %}
							{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						{% endif %}

						<div class="row py-2">
							<div class="col-4">
								{% with f=form.label %}
									{{ f|attr:"type:text"|attr:"class:form-control"|add_error_class:"is-invalid" }}
									<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
									{% include 'includes/field_errors.html' %}
								{% endwith %}
							</div>

							<div class="col-7">
								{% with f=form.url %}
									{{ f|attr:"type:text"|attr:"class:form-control"|add_error_class:"is-invalid" }}
									<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
									{% include 'includes/field_errors.html' %}
								{% endwith %}
							</div>

							<div class="col-1 text-center">
								{% with f=form.DELETE %}
									{% if form.url.value and url_formset.can_delete %}
									<div class="form-group">
										{{ f|attr:"type:checkbox"|attr:"class:form-check-input" }}
									</div>
									{% endif %}
								{% endwith %}
							</div>
						</div>

						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
					{% endfor %}

					{{ url_formset.management_form }}
				</div>
			</fieldset>



			<fieldset class="mt-3">
				<legend>
					{% trans "Screenshots" %}
				</legend>

				{% for form in screenshot_formset %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}

					{% with f=form.image %}
						<div class="card mb-3">
							<div class="card-body">
								<div class="row">
									<div class="col text-center">
										<div class="ratio ratio-16x9">
											{% if form.instance and form.instance.image %}
												{% thumbnail "384x216" form.instance.image as 384w %}
												{% thumbnail "640x360" form.instance.image as 640w %}
												<img
													srcset="{{ 384w.url }} 384w,
													        {{ 640w.url }} 640w"
													sizes="(max-width: 1024px) 384px,
													       640px"
													src="{{ 640w.url }}"
													alt=""
													loading="lazy"
													id="{{ f.id_for_label }}-preview"
												>
											{% else %}
												<img
													src="{% static 'img/placeholders/384x216.svg' %}"
													alt=""
													loading="lazy"
													id="{{ f.id_for_label }}-preview"
												>
											{% endif %}
										</div>
									</div>

									<div class="col">
										{% if form.instance.image %}
											<div class="card mb-3">
												<div class="card-header">{% trans 'Current' %}</div>
												<div class="card-body">

													<dl class="row">
														<dt class="col-sm-2">{% trans 'Name' %}</dt>
														<dd class="col-sm-10">{{ form.instance.image.name | basename }}</dd>
														<dt class="col-sm-3">{% trans 'Size' %}</dt>
														<dd class="col-sm-9">{{ form.instance.image.size | filesizeformat }}</dd>
													</dl>

													{% if screenshot_formset.can_delete %}
														{% with f=form.DELETE %}
															<div class="form-group row">
																<label for="{{ f.id_for_label }}" class="col-sm-3">{{ f.label }}</label>
																<div class="col">
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" id="{{ f.id_for_label }}" name="{{ f.html_name }}">
																	</div>
																</div>
															</div>
														{% endwith %}
													{% endif %}
												</div>
											</div>
										{% else %}
											<div class="card">
												<div class="card-header">{% trans 'New' %}</div>
												<div class="card-body">
													<input
														type="file"
														id="{{ f.id_for_label }}"
														name="{{ f.html_name }}"
														class="form-control{% if f.errors %} is-invalid{% endif %}"
														{% include 'includes/attrs.html' with widget=f.field.widget only %}
														data-form="{{ form.prefix }}"
													>
													<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
													{% include 'includes/field_errors.html' %}

													<dl class="row">
														<dt class="col-sm-3">{% trans 'Size' %}</dt>
														<dd class="col-sm-9" id="{{ f.id_for_label }}-size"></dd>
													</dl>
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					{% endwith %}
				{% endfor %}

				{{ screenshot_formset.management_form }}
			</fieldset>

			<div class="form-group row my-3">
				<div class="col-sm-10">
					<button name="_save" type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
					<button name="_continue" type="submit" class="btn btn-primary">{% trans 'Save and continue editing' %}</button>
				</div>
			</div>
		</form>
	</main>

	<script type="text/javascript">
		function updatePopulatedPreviews() {
			Array.from(document.getElementsByTagName('input')).forEach(function(input) {
				if(hasImageSelected(input)) {
					showPreview(input);
				}
			});
		}
		function hasImageSelected(input) {
			if (input.files && input.files[0]) {
				const file = input.files[0];

				if (file.type.startsWith('image/')) {
					return true;
				}
			}
			return false;
		}

		function showPreview(input) {
			const previewElement = document.getElementById(input.id + '-preview');
			const inputFile = input.files[0];

			if (!previewElement) {
				return;
			}

			const reader = new FileReader();
			reader.onload = (
				function(img) {
					return function(loadEvent) {
						img.src = loadEvent.target.result;
						document.getElementById(input.id + '-size').innerHTML = Math.round((inputFile.size / 1024) * 100) / 100 + ' KB';
					}
				}
			)(previewElement);

			reader.readAsDataURL(inputFile);
		}

		function handleFileInputChange(event) {
			const input = event.srcElement;

			if(hasImageSelected(input)) {
				showPreview(input);
			}
		}
		document.addEventListener('change', handleFileInputChange, false);

		updatePopulatedPreviews();
	</script>
{% endblock %}
