{% extends "base.html" %}



{% load comments %}
{% load i18n %}
{% load imagekit %}
{% load slipcrate %}
{% load static %}
{% load widget_tweaks %}
{% load qurl %}



{% block title %}{{ package.name }}{% endblock %}

{% block description %}Downloadable content for the video game Quake.{% endblock %}


{% block head %}
		<link rel="alternate" type="application/json" href="{% qurl request.build_absolute_uri format='json' %}">
{% endblock %}


{% block css %}
		<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}

{% block content %}
	<main class="container">
		<h1 class="title is-1 d-flex align-items-center justify-content-between">
			{{ package }}

			{% if can_edit %}
				<a
					title="{% trans 'Edit' %}"
					href="{% url 'packages:edit' package.slug %}"
					class="btn btn-primary float-end"
				>{% icon 'edit' %}</a>
			{% endif %}
		</h1>

		<!--
			screenshot carousel
		-->
		<section class="row">
			<div class="col">
				<div
					id="screenshot-carousel"
					class="carousel slide mb-3"
					data-bs-ride="carousel"
				>
					{% if package.screenshots.all|length > 1 %}
						<div class="carousel-indicators">
							{% for screenshot in package.screenshots.all %}
							    <button
							    	type="button"
							    	data-bs-target="#screenshot-carousel"
							    	data-bs-slide-to="{{ forloop.counter0 }}"
							    	aria-current="true"
							    	{% if forloop.first %}class="active"{% endif %}
							    ></button>
							{% endfor %}
						</div>
					{% endif %}

					<div class="carousel-inner ratio ratio-16x9">
						{% for screenshot in package.screenshots.all %}
							{% thumbnail "384x216" screenshot.image as 384w %}
							{% thumbnail "640x360" screenshot.image as 640w %}
							<div class="carousel-item bg-dark {% if forloop.first %}active{% endif %}">
								<a href="{{ screenshot.image.url }}" target="_blank">
									<img
										src="{{ screenshot.image.url }}"
										srcset="{{ 384w.url }} 384w,
										        {{ 640w.url }} 640w,
										        {{ screenshot.image.url }} 1280w"
										sizes="(max-width: 800px) 384px,
										       (max-width: 1200px) 640px,
										       1280w"
										class="carousel-image d-block m-auto h-100"
										loading="lazy">
								</a>
							</div>
						{% empty %}
							<div class="carousel-item active">
								<img
									src="{% static 'img/placeholders/1024x576.svg' %}"
									class="carousel-image d-block w-100">
							</div>
						{% endfor %}
					</div>

					{% if package.screenshots.all|length > 1 %}
						<button
							class="carousel-control-prev"
							type="button"
							data-bs-target="#screenshot-carousel"
							data-bs-slide="prev"
						>
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">{% trans 'Previous' %}</span>
						</button>
						<button
							class="carousel-control-next"
							type="button"
							data-bs-target="#screenshot-carousel"
							data-bs-slide="next"
						>
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">{% trans 'Next' %}</span>
						</button>
					{% endif %}
				</div>
			</div>
		</section>


		<div class="row">

			<!-- right column -->
			<div class="col-lg-4">
				<!--
					package listing details
				-->
				<section class="card mb-3">
					<div class="card-header">
						{% trans "About" %}
					</div>
					<div class="card-body">
						<dl>
							<dt class="float-start">{% trans 'Authors' %}</dt>
							<dd class="text-end">
								{% for author in package.authors.all %}
									<a
										href="{% url 'packages:list' %}?author={{ author.slug }}"
										title="Show only this users packages"
									>{{ author }}</a>{% if not forloop.last %}, {% endif %}
								{% empty %}
									{% trans 'Unknown' %}
								{% endfor %}
							</dd>

							<dt class="float-start">{% trans 'Created' %}</dt>
							<dd class="text-end"><time datetime="{{ package.created_at | date:"c" }}">{{ package.created_at | date:"DATE_FORMAT" | default_if_none:"" }}</time> </dd>

							{% if package.dependencies.exists %}
								<dt class="float-start">{% trans "Requires" %}</dt>
								<dd class="text-end">
									{% for dep in package.dependencies.all %}
										<a href="{{ dep.get_absolute_url }}">{{ dep.name }}</a>
									{% endfor %}
								</dd>
							{% endif %}

							{% if package.urls.all  %}
								<dt class="float-start">{% trans "URLs" %}</dt>
								<dd class="text-end">
									<ul class="list-unstyled">
										{% for url in package.urls.all %}
											<li><a href="{{ url.url }}" rel="nofollow">{{ url.label }}</a></li>
										{% endfor %}
									</ul>
								</dd>
							{% endif %}
						</dl>

						<div class="text-end">
							<a class="btn bg-danger text-white" href="">{% icon 'flag' %}</a>
						</div>
					</div>
				</section>

				<!--
					Ratings
				-->
				<section class="card mb-3">
					<div class="card-header">{% trans 'Ratings' %}</div>
					<div class="card-body">
						<div class="row mb-2 d-flex">
							<div class="col align-self-center">
								<h5 class="mb-0">{% trans 'Score' %}</h5>
							</div>
							<div class="col text-end">
								<h2>{{ package.rating|default:0|floatformat }} <small>/ 5</small></h2>
							</div>
						</div>

						{% if user.is_authenticated %}
							<form action="" method="post" class="row mb-2 d-flex" name="rating-form">
								<div class="col align-self-center">
									<h5 class="mb-0">{% trans 'You' %}</h5>
								</div>

								{% csrf_token %}

								<div class="col-auto user-rating">
									<input type="radio" name="score" class="star star-5" id="star-5" value="5" {% if user_rating == 5 %}checked{% endif %}><label class="star star-5" for="star-5" title="5 stars" role="button">{% icon 'star' %}</label>
									<input type="radio" name="score" class="star star-4" id="star-4" value="4" {% if user_rating == 4 %}checked{% endif %}><label class="star star-4" for="star-4" title="4 stars" role="button">{% icon 'star' %}</label>
									<input type="radio" name="score" class="star star-3" id="star-3" value="3" {% if user_rating == 3 %}checked{% endif %}><label class="star star-3" for="star-3" title="3 stars" role="button">{% icon 'star' %}</label>
									<input type="radio" name="score" class="star star-2" id="star-2" value="2" {% if user_rating == 2 %}checked{% endif %}><label class="star star-2" for="star-2" title="2 stars" role="button">{% icon 'star' %}</label>
									<input type="radio" name="score" class="star star-1" id="star-1" value="1" {% if user_rating == 1 %}checked{% endif %}><label class="star star-1" for="star-1" title="1 stars" role="button">{% icon 'star' %}</label>
								</div>

								<noscript>
									<div class="col-auto">
										<button type="submit"
												class="btn btn-primary">
											{% trans 'Save' %}
										</button>
									</div>
								</noscript>
							</form>
						{% endif %}

						{% for rating in rating_list reversed %}
							<div class="row">
								<div class="col-auto text-end rating-{{ forloop.revcounter }}">{% icon 'star' %} {{ forloop.revcounter }}</div>
								<div class="col px-1 align-self-center">
									<div class="progress">
										<div class="progress-bar rating-bg-{{ forloop.revcounter }}"
											 role="progressbar"
											 aria-valuenow="5"
											 aria-valuemin="0"
											 aria-valuemax="5"
											 style="width: {% widthratio rating num_ratings 100 %}%"></div>
									</div>
								</div>
								<div class="col-auto">
									{{ rating }}
								</div>
							</div>
						{% endfor %}
					</div>
				</section>

				<!--
					Tags
				-->
				<section class="card mb-3">
					<div class="card-header">{% trans 'Tags' %}</div>
					<div class="card-body">
						{% for tag in package.tags.all %}
							<a
								class="btn btn-light btn-sm text-dark mb-1"
								href="{% url 'packages:list' %}?tag={{ tag.slug }}"
								title="View other packages with the '{{ tag }}' tag"
							>{{ tag }}</a>
						{% endfor %}
					</div>
				</section>
			</div>

			<!--
				left column
			-->
			<div class="col-lg-8 order-lg-first">
				<!--
					package description
				-->
				<section class="card mb-3">
					<div class="card-body"><p>{{ package.description|markdown:"nofollow" }}</p></div>
				</section>

				<!--
					files or releases
				-->
				<section class="card mb-3">
					<div class="card-header">
						{% trans "Files" %}

						{% if can_edit %}
							<a
								title="{% trans 'Edit' %}"
								href="{% url 'packages:release-list' package.slug %}"
								class="btn btn-primary btn-sm float-end"
							>{% icon 'upload' %}</a>
						{% endif %}
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>{% trans "Filename" %}</th>
									<th>{% trans "Created" %}</th>
									<th>{% trans "Size" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for release in package.releases.all %}
									<tr>
										<td>
											{% if not release.is_approved %}
												<span title="This release has not yet been approved" class="text-warning">{% icon "exclamation-circle" %}</span>
												{{ release.file.name | basename }}
											{% else %}
											<a href="{{ release.file.url }}">{{ release.file.name | basename }}</a>
											{% endif %}
										</td>
										<td>
											<time datetime="{{ release.created_at | date:"c" }}">
												{{ release.created_at | date:"DATE_FORMAT" | default_if_none:"" }}
											</time>
										</td>
										<td>{{ release.file.size | filesizeformat }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>

				<section class="card mb-3 package-comments" id="comments">
					<div class="card-header">{% trans 'Comments' %}</div>
					<div class="card-body">

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						<!--
							Comment Form
						-->
						{% if user.is_authenticated %}
							{% get_comment_form for package as comment_form %}
							<div class="row">
								<div class="col-12">
									<form action="{% comment_form_target %}" method="POST">
										{% csrf_token %}

										{% for hidden in comment_form.hidden_fields %}
											{{ hidden }}
										{% endfor %}

										<input type="hidden" name="next" value="{% url 'packages:detail' package.slug %}#comments" />

										<div class="d-none">{{ comment_form.honeypot }}</div>

										{% if comment_form.non_field_errors %}
											{% for error in comment_form.non_field_errors %}
												<div class="alert alert-danger" role="alert">
													{{ error }}
												</div>
											{% endfor %}
										{% endif %}

										<div class="mb-3">
											{% render_field comment_form.comment class="form-control" cols="" %}
										</div>

										<div class="row mb-3">
											<div class="col">
												<button type="submit" class="btn btn-primary" name="submit">{% trans "Post" %}</button>
												<button type="submit" class="btn btn-secondary" name="preview">{% trans "Preview" %}</button>
											</div>
										</div>

										{{ comment_form.media }}
									</form>
								</div>
							</div>
						{% endif %}

						<!--
							Comment List
						-->
						{% get_comment_list for package as comments %}
						{% for comment in comments %}
							<article class="row mb-3 g-1" id="c{{ comment.pk }}">
								<div class="d-none d-sm-block col-sm-2">
									<svg class="img-thumbnail img-responsive user-photo" viewBox="0 0 1 1"><use href="{% static 'img/icons.svg' %}#user"></use></svg>
								</div>

								<div class="col-12 col-sm-10">
									<div class="card">
										<div class="card-header">
											<strong class="comment-user">{{ comment.user.get_full_name | default:comment.user.username }}</strong>

											<time class="text-muted small" datetime="{{ comment.created_at }}">
												{% trans 'commented' %}
												<a href="#c{{ comment.pk }}">
													{{ comment.submit_date|timesince }} {% trans 'ago' %}
												</a>
											</time>

											<div class="float-end text-sm text-white">
												<a
													class="btn btn-danger btn-sm"
													data-bs-toggle="modal"
													data-bs-target="#flagCommentModal"
													data-comment-id="{{ comment.pk }}"
													href="/comments/flag/{{ comment.pk }}/?next={{ package.get_absolute_url }}"
												>{% icon 'exclamation-circle' %}</a>
											</div>
										</div>
										<div class="card-body">
											<blockquote>
												{{ comment.comment | linebreaks }}
											</blockquote>
										</div>
									</div>
								</div>
							</article>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>


		<!--
			Comment Flag Modal
		-->
		<div
			class="modal fade"
			id="flagCommentModal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="flagCommentModal"
			aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{% trans "Report this comment?" %}</h5>

						<button
							type="button"
							class="btn-close text-white"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<form
						id="flagCommentForm"
						name="the-form-name"
						method="post"
						action="/comments/flag/"
					>
						<div class="modal-body">
							<strong class="comment-author"></strong>
							<blockquote class="comment-text"></blockquote>

							{% csrf_token %}

							<input type="hidden" name="comment_id" value="" />
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">{% trans "Flag" %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!--
			Acknowledgement Popup
		-->
		<div
			class="modal fade"
			id="ackModal"
			tabindex="-1"
			aria-labelledby="ackModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="ackModalLabel"></h5>

						<button
							type="button"
							class="btn-close text-white"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}



{% block javascript %}
	<script src="{% static 'js/detail.js' %}"></script>
	{% comment %}
	<script>
		/*
		var disqus_config = function () {
			this.page.url = "{{ request.build_absolute_uri }}";
			this.page.identifier = "{{ package.slug }}";
		};

		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://slipcrate.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	{% endcomment %}
{% endblock %}
