{% extends "packages/package_list.html" %}

{% load i18n %}
{% load static %}
{% load slipcrate %}
{% load imagekit %}


{% block package_list_content %}
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="package-list">
			{% for package in page.object_list %}
				<div class="col mb-3">
					<div class="card h-100">
						<a href="{% url 'packages:detail' package.slug %}" class="bg-secondary ratio ratio-16x9">
							{% if package.cover_image %}
								{% thumbnail "384x216" package.cover_image as thumbnail %}
							{% endif %}
							<img
								class="card-img-top"
								src="{% if thumbnail %}{{ thumbnail.url }}{% else %}{% static 'img/placeholders/384x216.svg' %}{% endif %}"
								alt=""
								loading="lazy"
							>
						</a>
						<div class="card-body">
							<h5 class="card-text">
								<a href="{% url 'packages:detail' package.slug %}" class="text-reset">
									{{ package.name }}
								</a>
							</h5>

							<p class="card-text">
								{% for author in package.authors.all %}
									{% tag_toggle request 'author' author author.slug %}
								{% empty %}
									{% trans 'Unknown' %}
								{% endfor %}
							</p>

							<p class="card-text">
								{% for tag in package.tags.all %}
									{% tag_toggle request 'tag' tag.name tag.slug %}
								{% endfor %}
							</p>
						</div>
						<div class="card-footer">
							<div class="row justify-content-between">
								<div class="col">
									<time datetime="{{ package.created_at | date:'c' }}">{{ package.created_at | date:"DATE_FORMAT" }}</time>
								</div>
								{% if package.rating %}
									<div class="col text-end">
										{% rating_stars package.rating %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
{% endblock %}


{% block javascript %}{% endblock %}
