{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load slipcrate %}


{% block title %}Packages{% endblock %}


{% block head %}
<link rel="alternate" type="application/json" href="?{{ request.GET.urlencode }}&format=json">
<link rel="alternate" type="application/json" href="?{{ request.GET.urlencode }}&format=api">
{% endblock %}


{% block content %}
	<h1 class="text-center">Showing {{ page.paginator.count }} Packages</h1>

	<main class="container">
		<section class="row">
			<div class="col">

				<div class="row gx-2 justify-content-between">
					<form class="col-12 col-md mb-3" action="?{{ request.GET.urlencode }}" method="get">
						<div class="row gx-1">
							<div class="col">
								<label class="visually-hidden" for="package-table-filter">Search</label>
								<input
									type="search"
									name="search"
									id="package-table-filter"
									class="form-control"
									placeholder="Search titles, authors, and tags"
									value="{{ filtered_term | default_if_none:'' }}"
								>
							</div>
							<div class="col-auto">
								<button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
							</div>
						</div>

						{% for k, v in request.GET.lists %}
							{% if k != 'search' %}
								{% for i in v %}
									<input type="hidden" name="{{ k }}" value="{{ i }}">
								{% endfor %}
							{% endif %}
						{% endfor %}
					</form>

					<div class="col-auto col-md-auto">
						{% include 'packages/includes/pagination.html' %}
					</div>

					<div class="col-auto">
						<div class="btn-group" role="group" area-label="View modes">
							{% if page_format == "card" %}
								<a
									href="{% url 'packages:list' %}?{% qs_update request format=None %}"
									class="btn btn-primary"
								>
									{% icon 'bars' %}
								</a>
							{% else %}
								<a
									class="btn btn-primary disabled"
									title="Table View"
									tabindex="-1"
								>
									{% icon 'bars' %}
								</a>
							{% endif %}

							{% if page_format == "list" %}
								<a
									href="{% url 'packages:list' %}?{% qs_update request format='card' %}"
									class="btn btn-primary"
									title="Card View"
								>
									{% icon 'th' %}
								</a>
							{% else %}
								<a
									class="btn btn-primary disabled"
									title="Card View"
									tabindex="-1"
								>
									{% icon 'th' %}
								</a>
							{% endif %}
						</div>
					</div>
				</div>

				{% if packages %}
					{% block package_list_content %}
						<table class="table" id="package-list">
							<thead>
								<tr class="align-center">
									<th class="text-nowrap">{% sort_th request "Title" "name" "sort-alpha-down" "sort-alpha-down-alt" %}</th>
									<th class="text-nowrap">{% trans 'Author(s)' %}</th>
									<th class="text-nowrap text-center">{% sort_th request "Created" "-created" "sort-numeric-down" "sort-numeric-down-alt" %}</th>
									<th class="text-nowrap text-center">{% sort_th request "Rating" "-rating" "sort-numeric-down" "sort-numeric-down-alt" %}</th>
									<th class="text-nowrap text-center">{% trans 'Tags' %}</th>
								</tr>
							</thead>
							<tbody>
								{% for package in packages %}
									<tr>
										<td>
											<a
												href="{% url 'packages:detail' package.slug %}"
												class="text-decoration-none"
											>
												{{ package.name }}
											</a>
										</td>
										<td>
											{% for author in package.authors.all %}
												{% tag_toggle request 'author' author author.slug %}
											{% empty %}
												{% trans 'Unknown' %}
											{% endfor %}
										</td>
										<td class="text-nowrap text-center">
											<time datetime="{{ package.created_at | date:'c' }}">
												{{ package.created_at | date:"DATE_FORMAT" }}
											</time>
										</td>
										<td class="text-nowrap text-center">
											{% if package.rating %}
												{% rating_stars package.rating %}
											{% else %}
												None
											{% endif %}
										</td>
										<td>
											{% for tag in package.tags.all %}
												<div class="btn-group btn-group-sm mb-1">
													{% tag_toggle request 'tag' tag.name tag.slug %}
												</div>
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endblock %}

					<div class="justify-content-center">
						{% include 'packages/includes/pagination.html' %}
					</div>
				{% else %}
					<p>{% translate 'No packages found' %}</p>
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
