{% load i18n %}
{% load widget_tweaks %}
{% if f.initial %}
	<div class="row">
		<label class="col-sm-2 col-form-label">{{ f.field.widget.initial_text }}</label>
		<div class="col-sm-10">
			<a href="{{ f.value.url }}">{{ f.value }}</a>
		</div>

		{% comment %}
		{% if not f.field.required %}
			<input type="checkbox" name="{{ f.field.widget.checkbox_name }}" id="{{ f.field.widget.checkbox_id }}"{% if f.field.widget.attrs.disabled %} disabled{% endif %}>
			<label for="{{ f.field.widget.checkbox_id }}">{{ f.field.widget.clear_checkbox_label }}</label>

			 <div class="form-group">
				<input
					type="checkbox"
					id="{{ f.id_for_label }}"
					name="{{ f.html_name }}"
					value="{{ f.value | default_if_none:'' }}"
					class="form-check-input {% if f.errors %}is-invalid{% endif %}"
					{% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}
				>
				<label class="form-check-label" for="{{ f.id_for_label }}">{{ f.label }}</label>

				{% if f.help_text %}
					<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
				{% endif %}

				{% if f.errors %}
					{% include 'includes/field_errors.html' %}
				{% endif %}
			</div>
		{% endif %}
		{% endcomment %}
	</div>
{% endif %}


<div class="row">
	<label for="{{ f.id_for_label }}" class="col-sm-2 col-form-label">{% if f.initial %}{{ f.field.widget.input_text }}{% else %}{{ f.label }}{% endif %}</label>
	<div class="col-sm-10">
		{{ f|attr:"type:file"|attr:"class:form-control"|add_error_class:"is-invalid" }}
	</div>
</div>

<small
	id="{{ f.id_for_label }}_help"
	class="form-text text-muted"
>
	{{ f.help_text }}
</small>

{% include 'includes/field_errors.html' %}
