{% load static %}
{% load i18n %}
{% load slipcrate %}

<div class="row">
	<div class="col text-center">
		<div class="ratio ratio-16x9">
			<img
				src="{% if image %}{{ image | thumbnail }}{% else %}{% static 'img/placeholders/1280x720.svg' %}{% endif %}"
				id="{{ f.id_for_label }}-preview"
			>
		</div>
	</div>

	<div class="col">
		<div class="card mb-3">
			<div class="card-header">{% trans 'Current' %}</div>
			<div class="card-body">
				<div class="card-text">
					{% if image %}
						<dl class="row">
							<dt class="col-sm-2">{% trans 'Name' %}</dt>
							<dd class="col-sm-10">{{ image.name | basename }}</dd>
						</dl>
					{% else %}
						<p>{% trans 'None' %}</p>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">{% trans 'New' %}</div>
			<div class="card-body">
				<div class="card-text">
					<div class="form-group">
						<input
							type="file"
							id="{{ f.id_for_label }}"
							name="{{ f.html_name }}"
							class="form-control {% if f.errors %}is-invalid{% endif %}"
							{% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}
						>

						<small
							id="{{ f.id_for_label }}_help"
							class="form-text text-muted"
						>
							{{ f.help_text }}
						</small>

						{% include 'includes/field_errors.html' %}
					</div>


					<dl class="row">
						<dt class="col-sm-3">{% trans 'Size' %}</dt>
						<dd class="col-sm-9" id="{{ f.id_for_label }}-size"></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
