{% load widget_tweaks %}

<div class="form-group">
	<label for="{{ f.id_for_label }}">{{ f.label }}</label>
	{% if f.errors %}
		{% render_field f type="text" id=f.id_for_label class+="form-control is-invalid" %}
	{% else %}
		{% render_field f type="text" id=f.id_for_label class+="form-control" %}
	{% endif %}

	{% if f.help_text %}
		<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
	{% endif %}

	{% if f.errors %}
		{% include 'includes/field_errors.html' %}
	{% endif %}
</div>
