<div class="form-group">
	<input type="checkbox"
	       id="{{ f.id_for_label }}"
	       name="{{ f.html_name }}"
	       value="{{ f.value | default_if_none:'' }}"
	       class="form-check-input {% if f.errors %}is-invalid{% endif %}"
	       {% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}
	>
	<label class="form-check-label" for="{{ f.id_for_label }}">{{ f.label }}</label>

	{% if f.help_text %}
		<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
	{% endif %}

	{% if f.errors %}
		{% include 'includes/field_errors.html' %}
	{% endif %}
</div>
