<div class="form-group">
	<label for="{{ f.id_for_label }}">{{ f.label }}</label>
	<input
		type="text"
		id="{{ f.id_for_label }}"
		name="{{ f.html_name }}"
		value="{{ f.value | default_if_none:'' }}"
		class="form-control {% if f.errors %}is-invalid{% endif %}"
		{% include 'includes/attrs.html' with widget=f.field.widget %}
	>

	{% if f.help_text %}
		<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
	{% endif %}

	{% if f.errors %}
		{% include 'includes/field_errors.html' %}
	{% endif %}
</div>
