<div class="form-group">
	<label for="{{ f.id_for_label }}">{{ f.label }}</label>
	<textarea
		id="{{ f.id_for_label }}"
		name="{{ f.html_name }}"
		class="form-control {% if f.errors %}is-invalid{% endif %}"
		{% include 'includes/attrs.html' with widget=f.field.widget %}
	>{{ f.value|default_if_none:'' }}</textarea>

	<small
		id="{{ f.id_for_label }}_help"
		class="form-text text-muted"
	>{{ f.help_text }}</small>

	{% include 'includes/field_errors.html' %}
</div>
