{% load widget_tweaks %}
<div class="form-group">
	<label for="{{ f.id_for_label }}">{{ f.label }}</label>
	{{ f|attr:"type:date"|attr:"class:form-control"|add_error_class:"is-invalid" }}
	<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
	{% include 'includes/field_errors.html' %}
</div>
