<div class="form-group">
	<label for="{{ f.id_for_label }}">{{ f.label }}</label>

	<input
		type="file"
		id="{{ f.id_for_label }}"
		name="{{ f.html_name }}"
		class="form-control {% if f.errors %}is-invalid{% endif %}"
		{% with widget=f.field.widget %}{% include 'includes/attrs.html' %}{% endwith %}
	>

	<small
		id="{{ f.id_for_label }}_help"
		class="form-text text-muted"
	>
		{{ f.help_text }}
	</small>

	{% include 'includes/field_errors.html' %}
</div>
