/*
 *
 * User Rating
 *
 */
.user-rating {
	padding-right: 0.5em;
	display: flex;
	flex-direction: row-reverse;
	flex: auto;
}
.user-rating input {
	display: none;
}
label.star {
	fill: #444;
	transition: all .2s;
	align-self: center;
	display: inline-flex;
}
label.star svg.icon {
	display: block;
	width: 2em;
	height: 2em;
}
input.star-5:checked ~ label.star svg.icon {
	fill: #00ff00;
	text-shadow: 0 0 20px #952;
}
input.star-4:checked ~ label.star svg.icon {
	fill: #a0d600;
	text-shadow: 0 0 20px #952;
}
input.star-3:checked ~ label.star svg.icon {
	fill: #d7a700;
	text-shadow: 0 0 20px #952;
}
input.star-2:checked ~ label.star svg.icon {
	fill: #f66d00;
	text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star svg.icon {
	fill: #ff0000;
	text-shadow: 0 0 20px #952;
}
label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}
label.star svg.icon {
	stroke: black;
	stroke-width: 20;
	fill: black;
	vertical-align: baseline;
}
